extends layout

block content
        div(id="palkki")
            a(href=`/tyomaat/${doc._id}`)
                h1(id="tyonimi") #{doc.nimi}
            h2(id="osionnimi") #{osio.nimi}
        svg(width="1200px" height="40px" id="svg")
            each i in palkki
                rect(y="0" x=`${Math.floor(i.left)}` width=`${Math.floor(i.width)}` height="30" fill="gray")
                line(x1=`${Math.floor(i.left)}` x2=`${Math.floor(i.left)}` y1="0" y2="40" stroke="rgb(255,255,255)" stroke-width="2")
                text(class="palkkityyppi" x=`${i.text}` y="20" fill="rgb(40,40,40)") #{i.tyyppi} 
        div(id="paneeli")
            svg(width="40" height="40" viewBox="0 0 40 40" class="lisaasvg" onclick="uusiVaihe()")
                circle(cx="20" cy="20" r="18" fill="rgb(200,200,200)" stroke="rgb(170,170,170)")
                line(x1="7" x2="33" y1="20" y2="20" stroke-width="4" stroke="rgb(220,220,220)")
                line(x1="20" x2="20" y1="7" y2="33" stroke-width="4" stroke="rgb(220,220,220)")
        div(id="uusiVaihe" class="off")
            svg(width="40" height="40" viewBox="0 0 40 40" class="sulje" onclick="sulje(event.target)")
                line(x1="5" x2="35" y1="20" y2="20" stroke-width="4" stroke-linecap="round" transform="rotate(45 20 20)"  stroke="rgb(100,100,100)")
                line(x1="5" x2="35" y1="20" y2="20" stroke-width="4" stroke-linecap="round" transform="rotate(-45 20 20)" stroke="rgb(100,100,100)")
            h3 Lisää vaihe
            input(id="tyyppivaihe" type="text" placeholder="pituus" onfocus="javascrpit:event.target.placeholder=''" onblur="javascript:event.target.placeholder='tunnus'")
            input(id="aihevaihe" type="text" placeholder="aihe" onfocus="javascrpit:event.target.placeholder=''" onblur="javascript:event.target.placeholder='aihe'")
            p(onclick="avaa(event.target)" id="nimivaihe" class="valinta") menetelmä
            div(class="onoff")
                p(class="uusvalinta off" onclick="uusValinta(event)") Dumper
                p(class="uusvalinta off" onclick="uusValinta(event)") Sivulle kaivuu
            p(onclick="avaa(event.target)" id="tunniste" class="valinta") Kalusto
            div(class="onoff")
                p(class="uusvalinta off" onclick="uusValinta(event,lisaaTunniste(event.target.textContent,event.target.parentElement.nextElementSibling))") Kaivinkone 15t
                p(class="uusvalinta off" onclick="uusValinta(event,lisaaTunniste(event.target.textContent,event.target.parentElement.nextElementSibling))") Kaivinkone 20t
                p(class="uusvalinta off" onclick="uusValinta(event,lisaaTunniste(event.target.textContent,event.target.parentElement.nextElementSibling))") Kaivinkone 10t
                p(class="uusvalinta off" onclick="uusValinta(event,lisaaTunniste(event.target.textContent,event.target.parentElement.nextElementSibling))") Pyöräkone 15t
            div(id="tunnisteet")
            p(onclick="avaa(event.target)" id="nimeke" class="valinta") Miehistö
            div(class="onoff")
                p(class="uusvalinta off" onclick="uusValinta(event,lisaaTunniste(event.target.textContent,event.target.parentElement.nextElementSibling))") Perämies
                p(class="uusvalinta off" onclick="uusValinta(event,lisaaTunniste(event.target.textContent,event.target.parentElement.nextElementSibling))") Timpuri
                p(class="uusvalinta off" onclick="uusValinta(event,lisaaTunniste(event.target.textContent,event.target.parentElement.nextElementSibling))") Sähkömies
            div(id="nimekkeet") 
            div(onclick=`lisaaVaihe("${doc._id}","${osio._id}")` id="lisaaVaihe") Valmis
        div(id="vaiheet")
            div(id="rivit")
                p(class="tayte tyyppi") C
                p(class="tayte aihe") C
                p(class="vaihep vaiherivi") menetelmä
                p(class="vaihep vaiherivi") vahvuus
                p(class="vaihep vaiherivi") 
            div(id="vaiheetel")
                each i in osio.vaiheet
                    div(class="vaihe")
                        svg(width="40" height="40" viewBox="0 0 40 40" stroke-linecap="round" stroke-width="4" stroke="rgb(180,180,180)" class="poistavaihe" onclick=`poistavaihe(event,"${doc._id}","${osio._id}")`)
                            line(x1="5" x2="35" y1="20" y2="20" transform="rotate(-45 20 20)")
                            line(x1="5" x2="35" y1="20" y2="20" transform="rotate(45 20 20)")
                        p(class="vaiheid") #{i._id}
                        p(class="tyyppi") #{i.tyyppi}
                        p(class="aihe") #{i.aihe}
                        p(class="vaihep vaihenimi") #{i.nimi}
                        each j in i.tunniste
                            p(class="vaihep vaihetunniste") #{j}